body {
    font-family: 'Karla', sans-serif;
    width: 50%;
    margin: 60px auto;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.19);
    Font-size: 16px;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
}

.div1 {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: white;
    padding: 30px;
}

.div1 h1 {
    color: hsl(179, 62%, 43%);
}

.div1 h3 {
    color: hsl(71, 73%, 54%);
}

.div1 p {
    color: hsl(218, 22%, 67%);
}

.div2 {
    background-color: hsl(179, 62%, 43%);
    padding: 30px;
}

.div3 {
    background-color: hsl(179, 57%, 52%);
    padding: 30px;
}

button {
    padding: 3% 20%;
    position: relative;
    margin: 0 20%;
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 6px;
}

@media screen and (max-width: 1440px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    .div1 {
        grid-column: 1/3;
        grid-row: 1/2;
        background-color: white;
    }
    .div2 {
        background-color: hsl(179, 62%, 43%);
    }
    .div3 {
        background-color: hsl(179, 57%, 52%);
    }
}

@media screen and (max-width: 747px) {
    body {
        width: 80%;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .div1 {
        grid-column: 1/3;
        grid-row: 1/2;
        background-color: white;
        padding: 0%;
    }
    .div2 {
        background-color: hsl(179, 62%, 43%);
        padding: 2%;
    }
    .div3 {
        grid-row: 3/4;
        background-color: hsl(179, 57%, 52%);
        padding: 2%;
    }
}

@media screen and (max-width: 500px) {
    body {
        width: 100%;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }
    .div1 {
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: white;
        padding: 2%;
    }
    .div2 {
        background-color: hsl(179, 62%, 43%);
        padding: 2%;
    }
    .div3 {
        background-color: hsl(179, 57%, 52%);
        padding: 2%;
    }
}